.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
	min-height: 15rem;
}

.pokemon-image {
  width: min(80vw, 15rem);
  height: auto;
  aspect-ratio: 1;
}

.silhouette {
  filter: brightness(0);
}

.next-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.next-button:hover {
  background-color: #2980b9;
}
